@tailwind base;
@tailwind components;
@tailwind utilities;


.button {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 0px 0px 0px 0px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.137);
}

.text {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(27, 27, 27);
  color: white;
}

.arrow path {
  fill: rgb(19, 19, 19);
}

.button:hover .arrow {
  animation: slide-in-left 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-8px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.button:active {
  transform: scale(0.97);
}
   /* index.css atau App.css */
   .react-calendar__navigation {
     @apply flex justify-between items-center p-4;
   }

   .react-calendar__navigation button {
     @apply bg-none border-none text-lg cursor-pointer;
   }

   .react-calendar__month-view__weekdays {
     @apply text-center font-bold text-gray-500;
   }

   .react-calendar__tile {
     @apply max-w-full p-4 text-center rounded-full transition-colors duration-300;
   }

   .react-calendar__tile--active {
     @apply bg-green-400 text-white;
   }

   .react-calendar__tile--now {
     @apply bg-yellow-400 text-white;
   }

   .highlight {
     @apply bg-green-400 text-white !important;
   }